.normal-input-width {
    width: 100%;
}

.opt {
    font-size: 16px;
    cursor: pointer;
}

.editOpt {
    color: darkgreen;
}

.deleteOpt {
    color: darkred;
}

.span-error {
    color: darkred;
}
