.full-width {
  width: 100%;
}

.table-admin thead {
  line-height: 11px;
}

.table-admin tr th {
  font-size: 11px;
  line-height: 11px;
}

.table-admin tr td {
  font-size: 10px;
}

.input-label {
  text-align: left;
  font-size: 12px !important;
  margin-left: 7px;
}
